<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  ~ Copyright (c) Haulmont 2024. All Rights Reserved.
  ~ Use is subject to license terms.
  -->

<menu-config xmlns="http://jmix.io/schema/flowui/menu">
    <!-- Main group -->
    <item id="dashboard" view="MainView" title="msg://io.flowset.control/menu_config.dashboard.title"/>
    <item id="processDefinitions" view="bpm_ProcessDefinition.list"
          description="msg://io.flowset.control/menu_config.bpm_ProcessDefinition.list.description"
          title="msg://io.flowset.control/menu_config.bpm_ProcessDefinition.list.title" icon="SITEMAP"/>
    <item view="bpm_ProcessInstance.list"
          description="msg://io.flowset.control/menu_config.bpm_ProcessInstance.list.description"
          title="msg://io.flowset.control/menu_config.bpm_ProcessInstance.list.title" icon="TASKS">
        <urlQueryParameters>
            <parameter name="mode" value="active"/>
        </urlQueryParameters>
    </item>
    <item view="IncidentData.list" title="msg://io.flowset.control.view.incidentdata/incidentDataListView.title"
          icon="WARNING"/>
    <item view="bpm_AllTasksView" title="msg://io.flowset.control/allTasks" icon="USER_CARD"/>

    <!-- DMN group -->
    <item id="decisions" view="bpm_DecisionDefinition.list"
          title="msg://io.flowset.control.view.decisiondefinition/decisionDefinitionListView.title"
          icon="vaadin:table"/>

    <!-- System group -->
    <item id="deployments" view="bpm_Deployment.list"
          title="msg://io.flowset.control.view.deploymentdata/deploymentListView.title" icon="vaadin:file-process"/>

    <menu id="administration" description="msg://io.flowset.control/menu_config.administration.description"
          opened="true"
          title="msg://io.flowset.control/menu_config.administration.title" icon="vaadin:cog">
        <item view="BpmEngine.list" title="msg://io.flowset.control.view.bpmengine/bpmEngineListView.title"
        />
        <item view="User.list" title="msg://io.flowset.control.view.user/UserListView.title"/>
        <item view="sec_ResourceRoleModel.list"
              title="msg://io.flowset.control/menu_config.resourceRole.list.title"/>
    </menu>

    <!-- Support group -->
    <item id="about" view="AboutProductView" title="msg://io.flowset.control.view.about/aboutProductView.title"
          icon="INFO_CIRCLE_O"/>
</menu-config>