@media (min-width: 640px) {
    .product-version-container {
        height: 100%;
    }
    .root-grid {
        column-gap: 0!important;
    }
}

@media (min-width: 768px) {
    .product-version-container {
        height: 100%;
    }
    .root-grid {
        column-gap: 0!important;
    }
}

@media (min-width: 1024px) {
    .product-version-container {
        height: min-content;
    }
    .root-grid {
        column-gap: var(--lumo-space-m)!important;
    }
}

.external-link-arrow-icon {
    transform: rotate(45deg);
}

.external-link {
    color: var(--lumo-success-color);
}